[Unit]
Description=Compare AD ssh_keys with cache

[Service]
Type=simple
ExecStart=/opt/get_pub_ssh_key/compare_ad_ssh_keys_with_cache.py /opt/get_pub_ssh_key/get_ssh_key.conf

[Install]
WantedBy=multi-user.target
