[Unit]
Description=Compare AD ssh_keys with cache

[Service]
Type=simple
Environment="SSH_GET_PUBKEY=/opt/get_pub_ssh_key"
ExecStart=/bin/bash -c '${SSH_GET_PUBKEY}/bin/compare_ad_ssh_keys_with_cache.py'

[Install]
WantedBy=multi-user.target
